<%= link_to "Back to homepage", "/" %>
<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Delete", article_path(@article),
    method: :delete,
    data: { confirm: "Are you sure?" } %></li>
</ul>

<h2>Comments</h2>
<!-- render method iterates over the @article.comments collection,
  assigning each comment to a local var named the same as the partial -->
<%= render @article.comments %>

<!-- Comments -->
<h2>Add a comment:</h2>
<!-- defines the partial template we want to render -->
<%= render 'comments/form' %>
